---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.svelte";
import formatDate from "../utils/format-date.js";
import GithubIssueComments from "svelte-github-issue-comments-component/GithubIssueComments/GithubIssueComments.svelte";
import '../styles/blog-post.scss';

const { content } = Astro.props;

const { title, description, publishDate, path, image, issueUri } = content;
---

<html lang="en">
  <head>
    <BaseHead title={title + " - joshuaj.co.uk"} {description} {path} {image} />
  </head>

  <body>
    <Navigation />

    <article class="blog-post__container">
      <h1 class="blog-post__title">{title}</h1>
      <p class="blog-post__publish-date">
        {formatDate(publishDate, "MMMM dd, yyyy")}
      </p>

      <div class="blog-post__content">
        <slot />
      </div>

      <div class="blog-post__footer">
        <GithubIssueComments
          {issueUri}
          commentsPerPage={10}
          useShowCommentsButton={false}
          client:visible
        />
      </div>
    </article>
  </body>
</html>
